.root {
  min-block-size: 100svh;
  min-inline-size: 320px;
  padding: var(--spacing-300);
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  background-color: var(--color-purple-100);
  background-image: url('../../assets/images/background-pattern-desktop.svg');
  background-repeat: repeat-x;
}

.content {
  grid-area: stack;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  max-inline-size: 600px;
  padding: var(--spacing-500);
  padding-block-end: var(--spacing-200);
  border-radius: 16px;
  background-color: var(--color-white);
  color: var(--color-purple-950);
  box-shadow: 0 32px 56px hsl(281deg 100% 23% / 10%);

  @media (width < 768px) {
    gap: 0;
    padding: var(--spacing-300);
    padding-block-end: 0;
  }
}

.heading {
  display: flex;
  align-items: center;
  gap: var(--spacing-300);
  font: var(--font-preset-1);

  @media (width < 768px) {
    font: var(--font-preset-1-mobile);
  }
}

.star {
  display: inline;
  color: var(--color-violet-600);
  transition: ease-in-out 800ms;

  @media (width < 768px) {
    block-size: 24px;
    inline-size: 24px;
  }

  &:hover {
    transform: rotate(360deg);
  }
}
