.root {
  min-block-size: 100vh;
  display: grid;
  grid-template-areas: 'stack';
  place-items: center;
  background-color: var(--color-purple-100);
  font: var(--font-base);
  background-image: url('../../assets/images/background-pattern-desktop.svg');
  background-repeat: repeat-x;
}

.heading {
  font: var(--font-heading);
}

.wrapper {
  grid-area: stack;
  max-inline-size: 540px;
  padding: 20px 40px;
  border-radius: 15px;
  background-color: var(--color-white);
  color: var(--color-purple-950);
  transform: translateY(-20%);
}

.accordion {
  summary {
    position: relative;
    padding-block: 25px;
    border-block: 1px solid var(--color-purple-100);
    font-weight: 700;
    cursor: pointer;
    transition: color var(--duration);

    &:hover {
      color: var(--color-purple-400);
    }
  }

  details:first-child summary {
    border-block-start: none;
  }

  details:last-child summary {
    border-block-end: none;
  }

  summary::marker {
    content: none;
  }

  ::details-content {
    color: var(--color-purple-600);
  }

  details[open] ::details-content {
    padding-block: 25px; /* not working */
  }

  .minus,
  .plus {
    position: absolute;
    inset-block: 0;
    inset-inline-end: 0;
    margin-block: auto;
    color: var(--color-purple-400);
  }

  .minus {
    display: none;
  }

  details[open] {
    .minus,
    .plus {
      color: var(--color-purple-950);
    }

    .minus {
      display: block;
    }

    .plus {
      display: none;
    }
  }
}

.star {
  display: inline;
  color: var(--color-purple-400);
  transition: ease-in-out 800ms;

  &:hover {
    transform: rotate(360deg);
  }
}
