:root {
  /* HSL */
  --hsl-white: 0 100% 100%;
  --hsl-purple-100: 275 100% 97%;
  --hsl-violet-600: 281 83% 54%;
  --hsl-purple-600: 292 16% 49%;
  --hsl-purple-950: 292 42% 14%;

  /* Colors */
  --color-white: hsl(var(--hsl-white));
  --color-purple-100: hsl(var(--hsl-purple-100));
  --color-violet-600: hsl(var(--hsl-violet-600));
  --color-purple-600: hsl(var(--hsl-purple-600));
  --color-purple-950: hsl(var(--hsl-purple-950));

  /* Font family */
  --font-family: 'WorkSans', system-ui;

  /* Fonts */
  --font-preset-1: 700 3.5rem/1.178 var(--font-family);
  --font-preset-2: 600 1.125rem/1.166 var(--font-family);
  --font-preset-3: 400 1rem/1.5 var(--font-family);
  --font-preset-1-mobile: 700 2rem/1.1875 var(--font-family);
  --font-preset-2-mobile: 600 1rem/1.1875 var(--font-family);
  --font-preset-3-mobile: 400 0.875rem/1.5 var(--font-family);

  /* Spacing */
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;

  /* Animation */
  --duration: 300ms;

  /* Focus */
  --focus-width: 3px;
  --focus-color: var(--color-violet-600);

  /* Theme */
  --theme-color: var(--color-purple-100);
}
